.logout-btn {
    cursor: pointer;
    background-color: #007bff;
  }
  
.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

table {
    border-collapse: collapse;
    width: 60%;  /* You can adjust this value to suit your needs */
}

table, th, td {
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 10px;
}

th {
    background-color: #3570ae;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
